[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-pinecone = "*"
python-dotenv = "*"
black = "*"
langchainhub = "*"
langchain-community = "*"
pypdf = "*"
bs4 = "*"
arxiv = "*"
pymupdf = "*"
wikipedia = "*"
langchain-text-splitters = "*"
requests = "*"
chromadb = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
faiss-cpu = "*"
streamlit = "*"
openai = "*"
langchain-groq = "*"
langserve = "*"
fastapi = "*"
uvicorn = "*"
langchain-chroma = "*"
sqlalchemy = "*"
validators = "*"
datasets = "*"
cassio = "*"
pypdf2 = "*"
pinecone-text = "*"

[dev-packages]

[requires]
python_version = "3.12"
